body {
    background-color:#00ffff;
}
.ajacxcart{
    color:red;
}
#navbarText{
    color:red;
}
nav-link{
    color:red;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}